<div class="container">
  <div id="project-title">
    <h1 class="text-start">
      SMART PLANT <br />
      MONITORING SYSTEM
    </h1>
    <p class="text-start">
      Rawat Satu Pohon hari ini, Selamatkan kehidupan untuk Hari Esok
    </p>
  </div>
  <div>
    <a type="button" href="#bottom-page" id="scroll-btn">Get Started</a>
  </div>
</div>

<div class="container-fluid" id="bottom-page">
  <div class="container d-flex">
    <div id="mokup-image">
      <img src="images/mokup.png" alt="" id="mokup" />
    </div>
    <div class="container-title" id="title">
      <h1 class="text-center">
        SMART PLANT <br />
        MONITORING SYSTEM
      </h1>
      <p class="text-ellipsis" id="teks">
        Adalah sistem yang menggunakan teknologi cerdas untuk memantau dan
        menegelola kondisi tanaman secara otomatis atau semi otomatis.
        Sistem ini biasanya menggabungkan sensor, perangkat IoT(Internet
        of Things) dan algoritma berbasis data untuk mengumpulkan,
        menganalisis, dan memberikan informasi terkait pertumbuhan tanaman
      </p>
    </div>
  </div>
</div>