<div class="container">
  <div id="project-title">
    <h1 class="text-start">
      SMART PLANT <br />
      MONITORING SYSTEM
    </h1>
    <p class="text-start">
      Take care of a tree today, save a life for tomorrow
    </p>
  </div>
  <div>
    <a type="button" href="#bottom-page" id="scroll-btn">Get Started</a>
  </div>
</div>

<div class="container-fluid" id="bottom-page">
  <div class="container d-flex">
    <div id="mokup-image">
      <img src="images/mokup.png" alt="" id="mokup" />
    </div>
    <div class="container-title" id="title">
      <h1 class="text-center">
        SMART PLANT <br />
        MONITORING SYSTEM
      </h1>
      <p class="text-ellipsis" id="teks">
        It is a system that uses intelligent technology to monitor and manage plant conditions automatically or semi-automatically. These systems typically combine sensors, Internet of Things (IoT) devices, and data-based algorithms to collect, analyze, and provide information related to plant growth.
      </p>
    </div>
  </div>
</div>