<!-- OUR TEAM START -->
<section
class="team-section d-flex flex-column align-items-center text-center py-5"
>
<h1 class="text-white mb-5">Our Team</h1>
<div
  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center"
>
  <% if (!identities.length) {} %>
  <!-- LOOPING UNTUK INDETITAS TEAM START -->
  <% identities.forEach(property => { %>
  <div class="col">
    <div class="card bg-dark text-white text-center border-0">
      <img
        src="http://localhost:3000/images/<%= property.name %>.jpg"
        class="card-img-top rounded-circle p-3"
        alt="Team Member"
      />
      <div class="card-body">
        <h5 class="card-title"><%= property.fullName %></h5>
        <p class="card-text"><%= property.nim %></p>
      </div>
    </div>
  </div>
  <% }) %>
  <!-- LOOPING UNTUK INDETITAS TEAM START -->
</div>
</section>
<!-- OUR TEAM END -->