body {
    background-image: url('../images/background_daun.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* .team-section {
    background: url('../images/Daun5.jpg') no-repeat center center/cover;
    min-height: 100vh;
    padding: 100px 15px;
} */

.card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
}

.card {
    border-radius: 15px;
}