body {
    background-image: url('../images/background_daun.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-team {
    background-color: transparent;
}